/* ================================================Mobile Header ============================ =====*/
.mobile-header{
	display: none;
}
.offcanvas-body {
    margin-top: 7%;
}
.mobile-li a{
    color: #333333;
    font-weight: 400;
    display: block;
    padding: 10px 24px;
    border-bottom: 1px solid #d6d8db;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}
ul.mobile-ul {
    padding-left: 0px;
}
/* ================================================Header============================ =====*/
.side-butn a {
	left: -114px;
	right: auto !important;
	font-size: 17px;
	font-weight: 700;
	position: fixed;
	z-index: 99;
	background: #07a4e3;
	border-radius: 10px 10px 0 0;
	cursor: pointer;
	text-decoration: none;
	padding: 15px 16px;
	color: #fff;
	transform: rotate(90deg);
	top: 50%;
}
.header-main {
	/* position:  absolute; */
	padding: 0 0 0 0;
	top: 0;
	z-index: 99;
	width: 100%;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.header-main.fixed {
	box-shadow: 0px 5px 20px #00000012;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	position: fixed;
	background: #fff;
}

.header-main.fixed .main-menu>ul>li>a {
	text-transform: capitalize;
	color: #223235;
}

.header-main.fixed .logo {
	width: 100%;
}

.top-bar {
	position: fixed;
	background: #f5f8fa;
	padding: 0;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: 1px solid #cbd6e2;
	z-index: 99;
	height: 54px;
}

.top-info-list {
	float: right;
	margin: 16px 0;
}

.top-info-list .flag {
	height: 10px;
}

.top-info-list li {
	float: left;
	color: #171717;
	font-size: 14px;
	padding: 0 10px;
}

.top-info-list li:first-child {
	padding-left: 0px;
}

.top-info-list li:last-child {
	padding-right: 0px;
}

.top-info-list li span {
	margin-right: 0px;
	color: #171717;
	font-size: 13px;
	line-height: 20px;
}

.top-info-list li span.icon-phone2 {
	font-size: 15px;
	top: 1px;
	position: relative;
}

.top-info-list li+li {
	border-left: 1px solid #171717;
}

.top-info-list li a {
	color: #171717;
}

.top-info-list li a:hover {
	color: #223235;
}

.nav-area-full {
    position: fixed;
    padding: 17px 0 16px;
    width: 100%;
    margin-top: 53px;
    background: #fff;
    z-index: 99;
    box-shadow: 0 2px 20px #01010130;
}

.logo {
	width: 100%;
	margin: 0;
	float: left;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.logo a {
	display: block;
}

.top-area {
	display: inline-block;
	width: 100%;
}

.main-menu {
	width: 100%;
	display: inline-block;
	/* float: right; */
	margin: 2px 0 0;
}

.main-menu>ul {
	float: right;
	margin: 0px;
}

.main-menu>ul>li {
	padding: 0px 15px;
	float: left;
	position: relative;
}

.main-menu>ul>li:last-child {
	padding-right: 0px;
}

.main-menu>ul>li:before {
	position: absolute;
	width: 1px;
	height: 12px;
	background: #71787e;
	left: 0px;
	top: 30%;
}
.btn-main {
    color: #fff !important;
    font-weight: 600;
    text-transform: capitalize;
    background: #07a4e3;
    border-radius: 3px;
    padding: 13px 15px;
}
.main-menu>ul>li:first-child:before {
	display: none;
}

.main-menu>ul>li>a {
	padding: 20px 0;
	font-size: 16px;
	color: #171717;
	font-weight: 400;
	text-transform: capitalize;
}

.header-main .has-submenu.progmenu {
	font-size: 16px;
	color: #171717;
	font-weight: 400;
	margin: 0;
	padding: 3px 0 4px;
	font-family: var(--primary-font-family);
}
.header-main .emailsec {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    position: absolute;
    font-family: var(--primary-font-family);
    top: 16px;
}
.header-main .emailsec a {
    position: relative;
    font-family: var(--primary-font-family);
    color: #171717;
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;
}

.main-menu>ul>li.active>a,
.main-menu>ul>li>a:hover,
.main-menu>ul>li>a.active,
.main-menu>ul>li>a:focus {
	color: #07a4e3;
	border-bottom: 5px solid #07a4e3;
}

.cstn-column {
	display: inline-block;
	width: 100%;
	font-size: 0;
}

.dropdown {
	width: 250px;
	position: absolute;
	top: 160%;
	left: 0%;
	visibility: hidden;
	opacity: 0;
	padding: 0px;
	background-color: #fff;
	border: 1px solid #cbd6e2;
	border-radius: .1875rem;
	box-shadow: 0 1px 24px rgba(45, 62, 80, 0.12);
	z-index: 95;
}

.main-menu>ul>li:hover .dropdown {
	visibility: visible;
	/* shows sub-menu */
	opacity: 1;
	left: 18px;
}

.main-menu>ul>li:hover .progmenu .dropdown {
	left: 0;
}

.dropdown>ul {
	padding: 10px 0;
	list-style: none;
}

.dropdown>ul>li:before {
	display: none;
}
.dropdown>ul>li>a {
	color: #171717 !important;
	font-size: 16px;
	text-decoration: none;
	padding: 8px 10px 8px 15px;
	display: block;
}

.dropdown>ul>li>a:hover {
	color: black;
	background: none;
}

.dropdown>ul>li>a:hover:before {
	display: none;
}

.double-drop {
	width: 400px!important;
}

.dropdown>ul>li>ul {
	display: none;
}

.dropdown>ul>li.level2:hover>ul {
	display: block;
}

/* Sticky Header */
.stickyheader {
	position: fixed;
	z-index: 9999;
	min-height: auto;
}

.stickyheader .logo img {
	width: 80px;
}

.stickyheader .logo {
	margin: 5px 0;
}

.stickyheader .navbar-inverse {
	margin: 10px 0 0 0;
}

.stickyheader .top-info-list ul {
	margin: 5px 0;
}

/* ================================================ sticky social icons============================ =====*/

.sticky-container {
	padding: 0px;
	margin: 0px;
	position: fixed;
	right: -155px;
	top: 100px;
	width: 200px;
	display: none;
	z-index: 999;
}

.sticky li {
	border-radius: 5px;
	list-style-type: none;
	background-color: #333;
	color: #efefef;
	height: 45px;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
}

.sticky li:hover {
	margin-left: -115px;
}

.sticky li img {
	float: left;
	border-radius: 5px 0 0px 5px;
	margin: 0;
	margin-right: 10px;
}

.sticky li p {
	padding: 0px;
	margin: 0px;
	text-transform: capitalize;
	line-height: 45px;
	color: white;
}

.sticky li a {
	border-radius: 5px;
	color: white;
}
/* ================================================ Hero Section============================ =====*/

.slider-wrapper {
	width: 100%;
	/* position: relative; */
	padding-top: 130px;
}
#contact-form-input1::placeholder{
	color: white;
}
#contact-form-input2::placeholder{
	color: white;
}
#contact-form-input3::placeholder{
	color: white;
}
.home-banner {
	width: 100%;
	height: 600px;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: table;
}

.home-banner:before {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000000bf;
	z-index: 0;
	content: "";
}
.align-self-center {
    -ms-flex-item-align: center!important;
    align-self: center!important;
}
.home-banner-content {
	position: relative;
	z-index: 9;
	padding-top: 50px;
}

.home-banner-content h1 {
	font-size: 36px;
	/* padding-bottom: 15px; */
	margin-bottom: 15px;
	font-weight: 600;
	color: #ffffff;
	position: relative;
	/* text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.7); */
	line-height: 1.2;
}

.home-banner-content h1:after {
	position: absolute;
	width: 10px;
	height: 10px;
	background: #ffffff;
	right: 0px;
	bottom: -5px;
	border-radius: 200px;
}

.home-banner-content h1 span {
	display: block;
	color: #ffffff;
	font-weight: 400;
	font-size: 30px;
	margin-top: 14px;
}
.home-banner-content h1 strong {
    color: #07a4e3;
    display: block;
}
.home-banner-content .subtitle {
	color: #fff;
	font-size: 24px;
	padding-top: 10px;
	line-height: 1.4;
}

.home-banner-content a.home-banner-link {
	margin: 0;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: capitalize;
	padding: 10px 20px;
	background: var(--primary-color);
	color: white;
	position: relative;
	display: table;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

.home-banner-content a.home-banner-link:after {
	content: "\e93a";
	font-family: 'icomoon' !important;
	font-size: 13px;
	color: white;
	padding-left: 10px;
	display: table-cell;
	vertical-align: middle;
}

.home-banner-content a.home-banner-link:hover {
	background: var(--primary-color-dark);
}
.banner-form {
    width: 315px;
    font-size: 0;
    background: transparent;
    position: relative;
    z-index: 9;
    float: right;
    border-radius: 5px;
    margin-right: 50px;
}
.banner-form .headerr {
    display: inline-block;
    width: 100%;
    font-size: 0;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/50-off2.png');
}
.banner-form h3 {
    background: transparent;
    font-weight: 400;
    padding: 10px 18px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    
}
.banform {
    padding: 22px;
    font-size: 14px;
    background-color: transparent;
    padding-top: 6px;
}
.ban-form input {
    width: 100%;
    margin: 0 0 0 0;
    border: 1px solid #e5e5e5;
    background: transparent;
    padding: 10px 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    height: 50px;
    font-weight: 400;
    outline: none !important;
    margin: 0 0 15px 0;
}
.ban-form input[type="submit"] {
    color: #fff;
    font-weight: 600;
    background: #07a4e3;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 20px 0 0;
    border: transparent;
}
::placeholder { 
    color: #9c9c9c;
    opacity: 1; /* Firefox */
  }
.bark-sec {
    background-color: #f3f9fd;
    padding: 25px 0px;
}
.bark-sec img {
    max-width: 15%;
    height: auto;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
    float: left;
    margin-right: 10px;
}
.bark-star {
    float: left;
}
.bark-star p {
    padding: 0;
}
.bark-sec img.stars {
    width: 84%;
    max-width: 100%;
}
.numbers {
    float: left;
}
.numbers p {
    padding: 0;
    font-size: 30px;
    font-weight: 700;
}
.numbers sup {
    font-size: 16px;
}

/* ================================================What is included Section============================ =====*/
.Whatinclude {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.text-center {
    text-align: center!important;
}
.Whatinclude h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.31;
    text-align: center;
    color: #000;
    font-weight: bold;
}
.Whatinclude p {
    display: block;
    width: 100%;
    margin: 17px 0 0;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: #045281;
}
.services-section{
	margin-top: 30px;
}
.faculty {
    text-align: center;
}
.faculty h3 {
    margin: 25px 0 0;
    color: #000;
    font-family: "GothamPro",sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    font-weight: bold;
}
.faculty p {
    margin: 15px 0 0;
    color: #9c9c9c;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;
    text-align: center;
}


/* ================================================What we do============================ =====*/

.what-we-do {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(4,82,129,0.05);
}
.what-we-do h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.31;
    color: #000;
    padding-bottom: 40px;
    font-weight: bold;
}
.what-we-do img {
    height: 50px;
}
.what-we-do h3 {
    font-size: 18px;
    color: #000;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}
.what-we-do p {
    color: #545454;
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
}
.what-we-do-blue-btn{
    padding-top: 30px;
}
.what-we-do-blue-btn a {
    background-color: #03c1ff;
    width: 100%;
    float: left;
    padding: 13px 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 11px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
}
.chat {
    padding-top: 30px;
}
.chat a {
    background-color: #ffd30b;
    width: 100%;
    float: left;
    padding: 13px 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 11px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
}
/* ================================================Call to action Btns Section ============================ =====*/

.cta-section{
	text-align: center;
    padding: 60px 0;
    background-color: #03a3f7;
}
.cta-section h2 {
    color: #fff;
    font-weight: 400;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 36px;
}
.cta-section p {
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding-bottom: 0px;
}
.cta-chat-btn{
	background-color: #ffd30b;
	margin-right: 20px;
}
.new-cta {
    background: #fff;
    transform: translateY(0rem);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    color: #000;
    padding: 14px 30px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
}
/* ================================================How it works Section ============================ =====*/
/* How it works */
.howitworks {
    padding: 60px 0;
    background: #fff;
    position: relative;
}
section.howitworks:before {
    background-image: url(../images/dot-line.png);
    position: absolute;
    content: "";
    left: 0px;
    width: 100%;
    z-index: 1;
    top: 0;
    bottom: 0;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 165px;
    margin-top: 165px;
}
.howitworks h2 {
    position: relative;
    color: #000;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 36px;
}
.howitworks p {
    color: #9c9c9c;
    text-align: center;
    font-size: 18px;
    padding-bottom: 40px;
}
.circle {
    border: 1px solid #a4cede;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
}
.circle img {
    height: 80px;
    display: block;
    margin: 4px auto;
}
.howitworks ul li {
    text-align: center;
    width: 23%;
    /* border: 2px solid #fff; */
    padding: 30px 15px;
    display: inline-block;
    vertical-align: top;
    margin: 0 11px;
    min-height: 205px;
    position: relative;
}
/* ================================================Editing anf Proofreading Section ==========================*/
.editing-proofreading{
	text-align: center;
    padding: 60px 0;
}
.editing-proofreading-row{
	display: flex;
}
.editing-proofreading-cols{
	flex-basis: 50%;
}
.editing-proofreading h1{
	color: black;
font-weight: 400;
    font-size: 36px;
    text-align: left;
    font-weight: bold;
}
.editing-proofreading p{
	color: #9c9c9c;
    font-size: 16px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    text-align: left;
}

/* ===============================Editing and Proofreading Service Section ==========================*/
.editing-proofreading-services h1{
    font-size: 36px;
    padding: 90px;
    font-weight: bold;
	color: black;
}
.ed-pro-col-items{
	display: flex;
}
.ed-pro-list {
    background: #fff;
    width: 91%;
    padding: 10px 15px;
    margin: 20px 40px;
    text-align: left;
    position: relative;
    height: 248px;
    border-radius: 5px;
    box-shadow: 4px 9px 20px 0 #dedede;
}
.ed-pro-list-header img {
    height: 60px;
    display: inline-block;
}
.ed-pro-list-header h4 {
    padding: 20px;
    display: inline-block;
}
.ed-pro-list-body {
    padding: 20px;
    padding-top: 10px;
}
.ed-pro-list-body p {
    color: #9c9c9c;
    font-size: 16px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    text-align: left;
}

/* ===============================Editing and Proofreading CTA Section ==========================*/

.ed-pro-cta{
	margin-bottom: 50px;

}

/* ===============================Review and Comments Section ==========================*/
.reviews-section {
	padding: 25px 0px;
}
.reviews-section h1{
	color: #000;
    padding-bottom: 70px;
    font-weight: bold;
    font-size: 36px;
}
.justify-content-center{
	-webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.reviews-section  img {
    max-width: 15%;
    height: auto;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
    float: left;
    margin-right: 10px;
}
.bark-star-1 {
    float: left;
}
.bark-star-1 p {
    padding: 0;
}
img.stars-1 {
    width: 84%;
    max-width: 100%;
}
.bark-sec-1 img {
    max-width: 15%;
    height: auto;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
    float: left;
    margin-right: 10px;
}
.numbers-1 {
    float: left;
}
.numbers-1 p {
    padding: 0;
    font-size: 30px;
    font-weight: 700;
}
.numbers-1 sup {
    font-size: 16px;
}

/* =============================================Testinomial Slider Section  =================================*/ 

section.testinomial-slider-section {
    margin: 80px auto;
    width: 80%;
}
.carousel-control-next, .carousel-control-prev {
    background: black !important;
    position: absolute;
    top: 50%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5% !important;
    height: 50px;
    color: black !important;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}
.row.slider-content {
    width: 80%;
    margin: 20px auto;
    border: 1px solid rgba(4,82,129,0.3);
    min-height: auto;
    border-radius: 20px;
    position: relative;
    padding-bottom: 53px;
    
}
.row.slider-content:before {
    content: "";
    position: absolute;
    top: -13px;
    left: 40px;
    width: 24px;
    height: 24px;
    border-top: 1px solid rgba(4,82,129,0.3);
    border-left: 1px solid rgba(4,82,129,0.3);
    -webkit-transform: rotate(
45deg);
    transform: rotate(
45deg);
    background-color: #fff;
}

.inner-testimonial {
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
    margin: 0 auto;
}
.inner-testimonial img {
    height: 98px;
    width: 100px;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.name-anna {
    padding-top: 10px;
    margin: 0;
    color: #045281;
    font-size: 16px;
    line-height: 1.375;
    font-weight: 600;
}
.Verified-people p {
    color: #4F8F06;
    padding-top: 50px;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
}
.Verified-people p {
    color: #4F8F06;
    padding-top: 50px;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
}
.Verified-people h3 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}
.Verified-people h6 {
    font-size: 14px;
    padding: 5px 60px 0px 0px;
    font-weight: 500;
    color: #9c9c9c;
}
/* =============================================Main services  =================================*/ 
.main-expert-editin-sec {
    padding: 60px 0;
    background-color: #07a4e3;
}
.exp-heading h2 {
    color: #fff;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    letter-spacing: 0;
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
}
.testi_box {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 30px #04729e;
    margin-top: 120px;
    height: 330px;
}

.testi_box.testiText {
    clear: both;
    margin: 15px;
    width: 100%;
    display: inline-block;
}

.testi_box ul {
    overflow: auto;
    overflow-x: hidden;
    padding: 15px;
}
.list-scroll li {
    padding: 05px;
}
.list-scroll {
    height: 94px;
}
/* ================================================Overcome section =================================*/

.main-overcme-sec {
    padding: 70px 0;
    background-color: #fff;
}
.ovr-heading {
    text-align: center;
}
.ovr-heading h2 {
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 0px;
    letter-spacing: 0;
    font-size: 36px;
    line-height: 42px;
}
.ovr-heading p {
    color: #9c9c9c;
    font-size: 16px;
    padding-bottom: 0px;
    margin-bottom: 50px;
}
.impr-box1 {
    padding-top: 20px;
	margin: 20px 10px;
}
.impr-box1 i {
    font-size: 45px !important;
    line-height: 45px;
    width: 45px;
    color: #1062dc;
    margin: 0px 0 30px 0;
}
.impr-box1 p {
    color: #000;
    font-size: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: 500;
}
/* ================================================Help Desk Section  =================================*/

.help-desk-section{
	background-color: #07a4e3;
	color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 70px 0;
    letter-spacing: 0;
    font-size: 36px;
    line-height: 42px

}
.help-desk-section h2{
	font-weight: bold;
    text-align: center;
    color: #fff;
    margin-bottom: 35px;
    letter-spacing: 0;
    font-size: 36px;
    line-height: 42px;
}
.help-desk-section p{
	color: white;
    font-size: 16px;
    padding-bottom: 0px;
    margin-bottom: 30px;
}
.help-desk-section a{
	padding: 14px 60px;
    margin-right: 20px;
}

/* ================================================Contact Section  =================================*/

.contactus {
    background-color: #f3f3f3;
    /* padding: 100px; */
    padding: 60px 0;
}
.contactus h2 {
    padding-bottom: 60px;
    font-size: 36px;
}
.app-input-group {
    position: relative;
    margin: 0 0px 10px;
    width: 100%;
    display: inline-block;
    border: 1px solid #d8d8d8;
    font-size: 14px;
}
.app-input-group input {
    width: 100%;
    height: 50px;
    border: 0;
    padding: 20px;
    outline: none;
    font-size: 18px;
    color: #989898;
}
.selectCust {
    position: relative;
}
.app-input-group select {
    display: block;
    width: 100%;
    background: #fff;
    height: 60px;
    padding: 10px 30px 10px 17px;
    /* -webkit-appearance: none; */
    border: none;
    border: 1px solid #d8d8d8;
    outline: none;
    border-radius: 6px;
    font-size: 18px;
    color: #989898;
    font-family: 'Poppins', sans-serif;
    height: 50px;
}

.attach {
    float: right;
}
.submit {
    border: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 2;
    padding: 5px 51px;
    outline: none;
    cursor: pointer;
    transition: background-color .3s;
    border-radius: 5px;
    background: #07a4e3;
    /* float: right; */
    margin-top: 10px;
    margin-left: 120px;
}
.submit:hover {
    background-color: #1f1f1f;
}
/* ================================================Footer Section  =================================*/
.footer-main::placeholder{
	color: black;
}
.footer-top {
	padding: 60px 0;
	background-color: #fff;
}
.clum-one-para {
    color: #9c9c9c;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding: 20px 0 0 0;
}
.footer-top h3 {
    color: #000;
    font-size: 18px;
    line-height: 1;
    padding-bottom: 10px;
    font-weight: bold;
}
.footer-top h4 {
	color: white;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px 0;
	padding: 0px;
	position: relative;
}
.footer-top .linkinglist {
    margin-left: -30px;
    margin-right: 25px;
}
.footer-top .linkinglist li input {
    width: 100%;
    font-size: 16px;
    background: #f1f1f1;
    margin-bottom: 2px;
    color: #928f8f;
    border: 1px solid #d4d4d4;
    padding: 8px;
    box-shadow: none;
    -webkit-box-shadow: none;
    line-height: 24px;
    outline: none;
    font-weight: 500;
}
.footer-links{
    padding: 5px 0;
    display: block;
    color: #9c9c9c;
    font-size: 19px;
}
.footer-links:hover{
    color: #9c9c9c;
}

.footer-top .linkinglist li button {
    background: #07a4e3;
    transform: translateY(0rem);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    color: #ffffff;
    padding: 14px 30px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    border: 0;
}

.footer-bottom {
    background: #000000;
    padding: 30px 0;
    text-align: center;
}
.copyright {
    padding: 10px 0 0px 0;
    margin: 0px;
    font-size: 12px;
    color: #cbd6e2;
}
.copyright span {
    color: #cbd6e2;
}
/* =========================================Mobile Section  =================================*/ 


@media only screen and (max-width: 1024px) and (min-width: 200px)  {
	.header-main{
		display: none;
	}
	.mobile-header{
		display: block;
	}
	img.mobile-logo {
		width: 220px;
	}
	a.mobile-bar {
		background: var(--default-color);
		color: white;
		padding: 05px 10px;
	}
	.side-butn a {
		top: 70%;
	}
	.slider-wrapper {
		padding-top: 0px;
	}	
}
@media only screen and (max-width: 766px) and (min-width: 200px)  {
    /* Web Header */
	.header-main{
		display: none;
	}
    /* Mobile Header */
	.mobile-header{
		display: block;
	}
	img.mobile-logo {
		width: 220px;
	}
	a.mobile-bar {
		background: var(--default-color);
		color: white;
		padding: 05px 10px;
	}
	.side-butn a {
		top: 70%;
	}
	.home-banner{
		height: max-content;
	}
	.slider-wrapper {
		padding-top: 0px;
		/* margin-top: -64px; */
	}
	
	.banner-form {
		width: auto;
		margin-top: 40px;
		margin-right: 0px;
	}
	 .headerr {
		height: 100px !important;
	}
	.testi_box.testiText {
		margin: 2px 0 10px;
	}
	.howitworks ul li {
		display: contents;
	}
	.circle{
		margin-top: 20px;
	}
	.circle-ul{
		margin-top: 20px;
	}
	.btncontact{
		margin: 10px;
	}
	.editing-proofreading {
		padding: 0px 0;
	}
	.editing-proofreading-row {
		flex-direction: column;
	}
	img.editing-proofreading-img {
		width: 305px;
	}
	.editing-proofreading-services h1 {
		padding: 05px;
	}
	.ed-pro-col-items {
		flex-direction: column;
	}
	.ed-pro-list {
		width: initial;
		padding: 05px 10px;
		margin: 20px 05px;
		text-align: center;
		height: fit-content;
	}
    /* Testinomial Slider */
    .Verified-people h6 {
        padding:0;
        }
    .Verified-people p {
            padding-top: 0;
        }
}
